{% extends 'base.html' %}

{% block title %}Click Cart - Register{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

  <div class="login-form">
  

<h1>Reset Password</h1>
<form method="POST" action="{% url 'reset password' %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" name="email" class="form-control" required>

        <label for="new_password" class="form-label">New Password:</label>
        <input type="password" name="new_password" class="form-control" required>

        <label for="confirm_password" class="form-label">Confirm New Password:</label>
        <input type="password" name="confirm_password"  required>
    </div>

 <button type="submit">Reset Password</button>
 
<a href="{% url 'login' %}" class="btn-submit">Back to Login</a>

</form>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

  </div>

{% endblock %}
