{% extends 'base.html' %}

{% block content %}
<style>
   .search-header, .search-form, .search-result {
        padding: 20px !important;
    }

</style>
<h1 class="search-header">Search Products</h1>

<!-- Search Bar -->
<form method="post" action="{% url 'search_bar' %}" class="search-form">
    {% csrf_token %}
    <input type="text" name="searched" placeholder="Search for products..." value="{{ request.POST.searched|default:'' }}">
    <button type="submit">Search</button>
</form>

<br>
<div class="search-result">
    {% if searched %}
    <h2>Results:</h2>
    <ul>
        {% for product in searched %}
            <li>
                <a href="{% url 'product_view' product.id %}">
                <strong>{{ product.name }}</strong>: ${{ product.price }}
                <p>{{ product.description }}</p>
            </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    {% if request.method == "POST" %}
        <p>No products found. Please try another search.</p>
    {% endif %}
{% endif %}
</div>
{% endblock %}